@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhaina+2&family=Cherry+Bomb+One&family=Lexend+Deca:wght@100&family=Poppins:wght@200;400&family=Roboto:wght@300&family=Urbanist:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
:root {
  --bs-dark-color: #1a1d20;
  --bs-dark-primary: #1c1c1c;
  --bs-main-color: #fff;
  --bs-primary-color: #c6c6c6;
  --secondary-color: #29a9fd;
  --bs-supporting-color: #c850c0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lexend Deca" sans-serif;
  color: black;
}
h5 {
  font-family: "Lexend Deca" sans-serif;
  color: black;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
}
p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: var(--bs-dark-color);
  letter-spacing: 0.07rem;
  line-height: 1.55rem;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  color: var(--bs-dark-primary);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.hero-section .container {
  display: grid;
  place-content: center;
  height: inherit;
}

/* for Navbar */
.nav-link {
  color: var(--bs-main-color) !important;
  font-weight: bold;
}
.nav-link:hover {
  color: var(--secondary-color) !important;
}

/* FOr Main */
.bg-main {
  height: 95vh;
  position: relative;
}
.bg-color {
  background-color: var(--bs-dark-primary);
}
/* for hero section */
.text-light-grey {
  color: var(--bs-primary-color);
}

/* shaper divider */
.custom-shape-divider-bottom-1697358136 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1697358136 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1697358136 .shape-fill {
  fill: #ffffff;
}
/* for service section */
.service-section {
  padding: 6rem 0 3rem 0 !important;
}
/* a tag class name */
.icon-background {
  width: 2.5rem;
  height: 2rem;
  background-color: var(--secondary-color);
  color: var(--bs-main-color);
}
.card-box:hover {
  box-shadow: 0 8px 24px gray;
}

/* digital product style more-info-section is main class */
.more-info-section {
  background-image: linear-gradient(
      rgba(22, 22, 22, 0.9),
      rgba(22, 22, 22, 0.9)
    ),
    url(image/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 6rem 0;
  overflow: hidden;
}
